html {
  height: 100%;
}

body {
  background-color: #F5DEB3; /* wheat */
  margin-bottom: 100px;
  font-family: Helvetica, arial, sans-serif;
  font-size: 13px;
  height: 100%;
}

body.stage {
  background-color: #ffffb0;
}

body.production {
  background-color: white;
}

body.tailview {
  background-color: black;
  margin: 0;
}

table {
  text-align: left;
}

td {
  border-top: 1px solid #DDDDDD;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
}

#queue-list th {
  background: #AB9B7D;
  color: #FEF9EE;
}

#queue-list tr {
  vertical-align: text-top;
}

#queue-list td {
  white-space: nowrap;
}

#custom-queues {
  background: #FEF9EE;
}

#builtin-queues {
  background: #FC6;
}

.odd-row {
  background: #FEF3DD;
}

.meta {
  margin-top: 20px;
}

#env {
  font-weight: bold;
}

.left-aligned {
  text-align: left;
}

.right-aligned {
  text-align: right;
}

#separator-row {
  background: #777;
}

.green {
  background-color: green;
  color: white;
}

.red {
  background-color: red;
  color: yellow;
}

.yellow {
  background-color: yellow;
  color: black;
}

ul {
  list-style: none;
}

table.message-info {
  background: white;
  line-height: 1.5;
  padding: 20px 0 20px 40px;
  font-family: monospace;
  text-align: left;
}

table.message-info td.key {
  width: 12em;
}

table.message-info td.sep {
  width: 1em;
}

#attachments {
  background: white;
  line-height: 18px;
  xpadding: 20px 0 20px 40px;
  padding: 8px;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  border-collapse: collapse;
  border-spacing: 0;
}

#attachments th, #attachments td {
  line-height: 18px;
  padding: 8px;
}

h1 {
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  overflow: hidden;
  zoom: 1;
}

#header {
  overflow: hidden;
  margin-bottom: 20px;
}

#sub-header {
  border: 1px dashed black;
  padding: 5px;
  margin-bottom: 20px;
}

#sub-header p {
  margin-top: 5px;
}

#json-config {
  overflow: hidden;
  zoom: 1;
}

#queue-status, #message-actions {
  float: right;
  text-align: right;
}

.right {
  text-align: right;
}

.inline {
  display: inline;
}

h3 {
  margin: 20px 0 10px;
}

h4, h5 {
  margin-top: 5px;
}

a {
  color: #060;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
}

#new-queue, #new-message {
  float: right;
  width: 200px;
  text-align: right;
}

#flash-container {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 10px;
}

.flash {
  font-size: 1.4em;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}

#flash-error {
  background: red;
}

#flash-notice {
  background: green;
}

pre {
  margin: 0;
}

#filedata {
  padding: 0;
  margin: 0 auto;
  font-family: monaco, "Courier New", Courier, monospace;
  color: #EEE;
  zoom: 1;
  font-size: 14px;
  height: 100%;
}

#filedata pre {
  margin: 0;
  font-family: monaco, "Courier New", Courier, monospace;
  line-height: 1.3;
  background: black;
  height: 100%;
}

#filedata a {
  color: yellow;
  text-decoration: none;
}

#filedata a:hover {
  text-decoration: underline;
}

#filedata a:visited {
}

#filepos {
  color: white;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 12em;
  padding: 5px;
  border: 2px solid;
  opacity: 0.7;
}

form label.field_label {
  display: block;
  float: left;
  width: 18%;
  padding: 0.2em 2% 0 0;
  text-align: right;
  clear: left;
}

form div.field_together {
  display: inline-block;
}

form div.field {
  margin: 0;
  padding: 0 0 1em 0;
  clear: both;
  width: 100%;
  overflow: auto;
}

form p.note {
  font-size: 0.8em;
  padding: 0 0 0 20%;
  color: #444;
  font-style: italic;
}

form.inrow {
  padding: 0;
  margin: 0;
}

form.inrow button {
  width: 5em;
}

#queue-lists {
  table-layout: fixed;
}

#queue-lists td, #queue-lists th {
  padding: 5px;
}

#queue-lists th {
  font-size: 20px;
}

#queue-lists td {
  text-align: center;
}

#queue-lists h4 {
  font-size: 12px;
  margin-bottom: 0;
  border-bottom: 1px solid black;
}

#queue-lists h5 {
  font-size: 1.5em;
  margin-bottom: 0;
}

#queue-lists ul {
  padding: 0;
}

#queue-lists li {
  margin: 0;
}

table {
  width: 100%;
}

table a {
  display: block;
}

#queue-lists td {
  vertical-align: top;
}

span.green, span.red, span.yellow {
  padding: 3px;
}

th.run {
  background: #fc6;
}

th.done {
  background: #cfc;
}

.relayed h4 {
  background: #cfc;
  padding: 10px;
}

.relayed-li {
  margin-bottom: 15px;
}

.relayed-li a {
  display: inline;
}

.relayed-li span {
  padding: 5px;
}

th.err {
  background: #f99;
}

#log-output {
  padding: 20px;
}

.hidden {
  display: none;
}

p {
  margin-bottom: 5px;
}
