
.green { background-color: green; color: white; }
.red { background-color: red; color: yellow; }
.yellow { background-color: yellow; color: black; }

ul { list-style: none; }

#new_queue_form label.field_label {
    display: block;
    float: left;	
    width: 18%;
    padding: .2em 2% 0 0;
    text-align: right;
    clear: left;
}

#new_queue_form .field {
    margin: 0;
    padding: 0 0 1em 0;
    clear: both;
    width: 100%;
    overflow: auto;
}


#new_queue_form .note {
    font-size: .8em;
    padding: 0 0 0 20%;
    color: #444;
    font-style: italic;
}
