
<h1>RQ : Install</h1>

<p>
<b>Hai!</b> Your app is now setup. Click the link below to setup the app.
</p>
<p>
Thanks!
</p>

<a href="/">Main App</a>

<pre>
The bomb... <%= Time.now %> - <%= Dir.pwd %>
</pre>
