
<h1>rq : install</h1>
<h5></h5>

<p>
<br />
Please fill out this form in order to setup this RQ.
</p>
<br />

<form method="POST" action="/install">

<fieldset>
<legend>Install Options</legend>  

<input type="hidden" name="x_format" value="html" />

<div class="field">
<label class="field_label" for="install_host">Domain Name</label>
http://<input type="text" size="22" name="install[host]" id="install_host" value="rq.example.org" />
:
<input type="text" size="5" name="install[port]" id="install_port" value="3333" /> /
<p class="note">Host name should not be localhost or an IP. It should be the FQDN of this rq..</p>
</div>

<div class="field">
<label class="field_label" for="install_addr">Listen Address</label>
<input type="text" size="20" name="install[addr]" id="install_addr" value="0.0.0.0" />
<p class="note">This is the IP/interface that the rq will listen on.</p>
</div>

<div class="field">
<label class="field_label" for="install_env">Environment</label>
<input type="text" size="20" name="install[env]" id="install_env" value="development" />
<p class="note">valid values are development, test, staging, production.</p>
</div>

<div class="field">
<label class="field_label" for="install_submit">&nbsp;</label>
<input type="submit" name="install_submit" value="Install" />
</div>

</fieldset>
</form>


<pre>
<%= Time.now %> - <%= Dir.pwd %>
</pre>
