
<h1>RQ : Install</h1>

<p>
<b>Hai!</b> Your app is not setup. Click the link below to setup the app.
</p>
<p>
Thanks!
</p>

<form method="POST" action="/install">
  <input type="submit" name="submit" value="Install" />
</form>


<pre>
The bomb... <%= Time.now %> - <%= Dir.pwd %>
</pre>
