<div id="header">
  <h1><a href="<%= url %>">RQ</a></h1>
</div>

<h3>New Queue</h3>
<form id="new_queue_form" method="post" action="/new_queue">
<fieldset>
<legend>Queue Configuration</legend>

<div class="field">
  <label class="field_label" for="queue_name">Queue name</label>
  <span class=""><%= url %></span>
  <input type="text" size="50" name="queue[name]" id="queue_name" value="" />
</div>

<div class="field">
  <label class="field_label" for="queue_script">Queue script path</label>
  <input type="text" size="80" name="queue[script]" id="queue_script" value="" />
</div>

<div class="field">
  <label class="field_label" for="queue_num_workers">Max number of workers</label>
  <input type="text" name="queue[num_workers]" value="1" size="3" />
  <p class="note">Anything &gt; 1 means parallelism</p>
</div>

<div class="field">
  <label class="field_label" for="queue_coalesce">Message coalescing</label>
  <label for="queue_coalesce">coalesce</label>
  <input type="radio" name="queue[coalesce]" value="yes" />
  <label for="queue_coalesce">no-coalesce</label>
  <input type="radio" name="queue[coalesce]" value="no" checked />
</div>

<div class="field">
  <label class="field_label" for="queue_coalesce_param1"></label>
  <label for="queue_coalesce_param1">param1</label>
  <input type="checkbox" id="queue_coalesce_param1" name="queue[coalesce_param1]" value="1" />
  <label for="queue_coalesce_param2">param2</label>
  <input type="checkbox" id="queue_coalesce_param2" name="queue[coalesce_param2]" value="1" />
  <label for="queue_coalesce_param3">param3</label>
  <input type="checkbox" id="queue_coalesce_param3" name="queue[coalesce_param3]" value="1" />
  <label for="queue_coalesce_param4">param4</label>
  <input type="checkbox" id="queue_coalesce_param4" name="queue[coalesce_param4]" value="1" />
</div>

<div class="field">
  <label class="field_label" for="queue_blocking">Message blocking</label>
  <label for="queue_blocking_param1">param1</label>
  <input type="checkbox" id="queue_blocking_param1" name="queue[blocking_params][]" value="1" />
  <label for="queue_blocking_param2">param2</label>
  <input type="checkbox" id="queue_blocking_param2" name="queue[blocking_params][]" value="2" />
  <label for="queue_blocking_param3">param3</label>
  <input type="checkbox" id="queue_blocking_param3" name="queue[blocking_params][]" value="3" />
  <label for="queue_blocking_param4">param4</label>
  <input type="checkbox" id="queue_blocking_param4" name="queue[blocking_params][]" value="4" />
</div>

<div class="field">
  <label class="field_label" for="queue_exec_prefix">'exec' prefix</label>
  <input type="text" name="queue[exec_prefix]" value="bash -lc " size="40" />
</div>

<div class="field">
  <input type="submit" value="submit" />
</div>

</fieldset>
</form>
